{
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./app/globals.css",
    "tailwindAttributes": ["myClassList"],
    "tailwindPreserveWhitespace": true
}